/* Adjust the size of the logo */
img[src*="cover.png"] {
    width: 70px;
    /* Adjust the width */
    height: 70px;
    /* Keep the aspect ratio */
}

/* Monospace Font for Code Blocks */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');

pre,
code,
.CodeMirror {
    font-family: 'Fira Code', monospace !important;
    font-variant-ligatures: contextual;
}